.title {
    height: 100px;
    background-color: rgb(19, 34, 72);
    margin: 0px;
    font-size: 38px;
    color: rgb(227, 212, 212);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




.searchButton {

    height: 50px;
    background-color: rgb(227, 212, 212);


    font-size: 25px;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.sWord {
    margin: 5px;
   
}


#search-button {
    color: white;
    width: 45px;
    height: 29px;
    background-color: black;
    border-radius: 3px;
}


#search-input{
    height: 25px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 1px;

}




.arrangeCard {

    width: 1300px;

    margin: 50px auto 0px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 50px;

}


.card {

    width: 250px;
    height: 600px;

    background-color: rgb(153, 183, 69);
    
    border: 1px solid #ebeaec;
    border-radius: 16px;
    overflow: hidden;
}

/* .cardText {
    width: 220px;

    Display: flex;
    Flex-direction: column;
    Align-items: center;
    justify-content: center;
    border: 1px transparent;
    dom이 만들어지고 없어져도 됨

} */

.card-image {
    width: 250px;
    height: 350px;

}


.container {
   
    padding: 20px 20px 20px 20px;

}


.theme {
    font-size: 18px;
    margin: 0px;
    min-height: 50px;

}


.contents {
    font-size: 15px;
    margin: 0px;
    max-height: 125px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 


  
.contents ::-webkit-scrollbar {
        display: none; /* Chrome */
    }


    


    /* overflow: hidden; */
    /* text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 이거는 3줄까지 자르고 줄임표시...가 들어가는 방식*/


}


.rate {
    font-size: 12px;
    display: block;
    margin-top: 20px;
   
    /* margin-top: 20; ,  height: 100px; 이거 둘다 왜 작동을 안할까?- rate의 디스플레이가 inline으로 설정되어있어서*/
   
   


}